1_E5Dd_j3Ldg6kYKXEXjFMpg.jpeg
dataclasses.py
dict_test.py
hours.db
main2.py
acc.db
db1.db
delete.py
hours_notes.db
server.db
main_db.py
db.sql
sql.py
task_square_triangle_circle_class.py
task_square_triangle_rectangle.py
test.py